// Universal CSS, @import "main" in each SCSS file.

$color-white: #fff0f3;
$color-grey: #c4b2bc;
$color-primary: #ffcad4;
$color-secondary: #81667a;
$color-dark: #332e3c;
$color-black: #28252e;

$font: 'Raleway', sans-serif;
$font-size-big: 2.8rem;
$font-size-mid: 2.4rem;
$font-size-norm: 2.2rem;
$font-size-small: 1.8rem;

$border-width: 0.3rem;
$border-width-thin: 0.1rem;

html {
	// For most, should be 10px. Scale rems off of 10px.
	font-size: 62.5%;
}

body {
	// Default font
	font-family: $font;
	font-size: $font-size-norm;

	// Default colors
	color: $color-white;
	background-color: $color-dark;

	// Spacing for fixed-top navbar
	margin-top: 7rem;
	margin-bottom: 1.5rem;

	// No rounded corners
	border-radius: 0;
}

::placeholder {
	// Change default placeholder text color
	color: $color-secondary !important;
	opacity: 1;
}

*:focus {
	// Change default focus color
	border-color: $color-secondary !important;
	outline: 0 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(129, 102, 122, 0.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(129, 102, 122, 0.6) !important;
}

.font-bold {
	font-weight: 600;
}

.font-light {
	font-weight: 300;
}

.font-italic {
	font-style: italic;
}

a, a:link, a:visited, a:hover, a:active {
	// Links maintain color and have underline
	color: $color-primary;
	text-decoration: underline;
}

.pointer {
	cursor: pointer;
}

.navbar {
	background-color: $color-primary;

	.navbar-brand {
		// "ready to work."
		color: $color-dark;
		font-size: $font-size-big;
	}

	.navbar-toggler {
		border: 0;
		border-radius: 0;
		padding: 0;
		margin: 0;

		.fa-bars {
			font-size: $font-size-mid;
			color: $color-dark;
		}
	}

	a, a:link, a:visited, a:hover, a:active {
		// Links maintain color and have underline
		color: $color-dark;
		text-decoration: none;
	}

	.container>.navbar-collapse>.navbar-nav>.nav-item>a {
		// Ultra-specific to override Bootstrap's nav
		color: $color-dark;
		font-size: $font-size-mid;

		&:hover, &:focus {
			font-weight: 600;
		}
	}
}

#footer {
	color: $color-secondary;
	font-size: $font-size-small;

	padding-top: 0.7rem;
	padding-bottom: 0.7rem;

	p {
		margin: 0;
	}
}
