// CSS for home.handlebars

@import "main";

.menu-item {
	color: $color-primary;
	background-color: $color-black;
	border-color: $color-black;
	border-radius: 0;
	-webkit-appearance: none !important;

	font-size: $font-size-mid;
	text-decoration: none !important;

	margin-top: 1.5rem;
}

.menu-item:active, .menu-item:focus, .menu-item:hover, .menu-item:not(:disabled):not(.disabled):active {
	// Remove color changes on hover/click/press
	color: $color-black;
	background-color: $color-primary;
	border-color: $color-primary;
}

.card-box {
	color: $color-primary;
	background-color: $color-black;

	.card-text {
		padding: 1.25rem;
	}
}