// CSS for home.handlebars

@import "main";

.menu-item {
	color: $color-primary;
	background-color: $color-secondary;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none !important;

	font-size: $font-size-mid;
	text-decoration: none !important;

	margin-top: 1rem !important;
	margin-bottom: 0 !important;

	&:active, &:focus, &:hover, &:not(:disabled):not(.disabled):active {
		// Remove color changes on hover/click/press
		color: $color-dark;
		background-color: $color-primary;
		border-color: $color-primary;
	}
}

#acceptBtn {
	color: $color-dark;
	background-color: $color-primary;
	border-color: $color-primary;
}

#alert-box {
	color: $color-dark;
	background-color: $color-primary;
	border: $border-width $color-primary solid;
	border-radius: 0;

	font-size: $font-size-mid;

	.card-header {
		font-size: $font-size-mid;
		text-align: center;

		border: 0;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
;
	.pre-scrollable {
		background-color: $color-dark;
		padding-top: 1rem;
		padding-right: 1rem;
		padding-left: 1rem;
		padding-bottom: 0;
	}

	.item {
		background-color: $color-black;
		padding: 1rem;
		margin-bottom: 1rem;
		
		font-size: $font-size-norm;

		.item-title {
			color: $color-primary;
		}

		.item-info {
			color: $color-white;
		}
	}
}