// CSS for index.handlebars

@import "main";

$anim-time: 0.5s;

h1 {
	font-size: $font-size-big * 2;
	color: $color-primary;
}

::placeholder {
	color: $color-secondary;
	opacity: 1;
}

.form-box {
	color: $color-primary;
	background-color: $color-dark;
	border: 2px $color-primary solid !important;
	border-radius: 0;

	padding: 1rem;
}

#login-button {
	color: $color-dark;
	background-color: $color-primary;
	border: none;
	border-radius: 0;
	-webkit-appearance: none !important;

	font-size: $font-size-mid;
	text-decoration: none !important;

	padding: 0.5rem;
	margin-bottom: 1rem;

	-o-transition: all $anim-time ease-in-out;
	-ms-transition: all $anim-time ease-in-out;
	-moz-transition: all $anim-time ease-in-out;
	-webkit-transition: all $anim-time ease-in-out;
	transition: all $anim-time ease-in-out;

	&:active, &:focus, &:hover {
		transform: scale(1.1);
	}
}

#signup-button {
	color: $color-primary;
	background-color: $color-secondary;
	border: none;
	border-radius: 0;
	-webkit-appearance: none !important;

	font-size: $font-size-mid;
	text-decoration: none !important;

	padding: 0.5rem;
	margin-bottom: 1rem;

	-o-transition: all $anim-time ease-in-out;
	-ms-transition: all $anim-time ease-in-out;
	-moz-transition: all $anim-time ease-in-out;
	-webkit-transition: all $anim-time ease-in-out;
	transition: all $anim-time ease-in-out;

	&:active, &:focus, &:hover {
		transform: scale(1.1);
	}
}

#error {
	font-size: $font-size-small;
	color: $color-white;
}