// CSS for index.handlebars

@import "main";

// Class
.col-centered{
    float: none;
    margin: 0 auto;
}

.menu-item {
	color: $color-primary;
	background-color: $color-black;
	border-color: $color-black;
	border-radius: 0;
	-webkit-appearance: none !important;

	font-size: $font-size-mid;
	text-decoration: none !important;

	margin-top: 1.5rem !important;
}

.menu-item:active, .menu-item:focus, .menu-item:hover, .menu-item:not(:disabled):not(.disabled):active {
	// Remove color changes on hover/click/press
	color: $color-black;
	background-color: $color-primary;
	border-color: $color-primary;
}

#alert-box {
	color: $color-dark;
	background-color: $color-primary;
	border-radius: 0;

	.card-block {
		background-color: $color-dark;
		padding-top: 1rem;
		padding-right: 1rem;
		padding-left: 1rem;
		padding-bottom: 0.7rem;
	}

	.item {
		background-color: $color-black;
		padding: 1rem;
		margin-bottom: 0.3rem;

		.item-title {
			color: $color-primary;
		}

		.item-info {
			color: $color-white;
		}
	}
}