$color-white: #fff0f3;
$color-grey: #c4b2bc;
$color-primary: #ffcad4;
$color-secondary: #81667a;
$color-dark: #332e3c;
$color-black: #28252e;


body { 
  color: $color-primary;
  background-color: $color-dark; 
}