// CSS for tasks.handlebars

@import "main";

#teamName {
	font-size: $font-size-big;
	margin: 0;
	margin-bottom: 1.5rem;
}

#addMenu {
	color: $color-dark;
	background-color: $color-primary;
	border: $border-width $color-primary solid;
	border-radius: 0;
	-webkit-appearance: none !important;

	font-size: $font-size-mid;
	text-decoration: none !important;

	margin: 0;

	.card-header {
		text-align: center;
		border: 0;
	}

	.card-body {
		color: $color-primary;
		background-color: $color-dark;
	}

	.form-control, select {
		color: $color-primary;
		background-color: $color-black;
		border: $border-width-thin $color-primary solid;
		border-radius: 0;

		font-size: $font-size-norm;

		padding: 1rem;
	}

	.form-control-label {
		font-size: $font-size-norm;
		color: $color-secondary;
	}

	.btn-block {
		color: $color-dark;
		background-color: $color-primary;
		border: 0;
		border-radius: 0;
		-webkit-appearance: none !important;

		font-size: $font-size-mid;
		text-decoration: none !important;

		padding: 0.5rem;
	}
}

.task-card {
	border: $border-width $color-secondary solid;
	border-radius: 0;

	margin-top: 1.5rem;

	.modal-link {
		border: 0;
		border-radius: 0;

		text-decoration: none;
	}

	.card-header {
		color: $color-primary;
		background-color: $color-secondary;

		border: 0;
		border-radius: 0;

		font-size: $font-size-mid;
		text-decoration: none;
	}

	.card-body {
		color: $color-white;
		background-color: $color-black;

		border: 0;
		border-radius: 0;

		font-size: $font-size-norm;
	}
}

.modal-content {
	border: $border-width $color-primary solid;
	border-radius: 0;

	.modal-header {
		color: $color-dark;
		background-color: $color-primary;

		border: 0;
		border-radius: 0;

		display: inline-block;
		overflow: visible;
		width: 100%;

		.modal-title {
			font-size: $font-size-mid;

			float: left;
		}

		.modal-close {
			color: $color-dark;
			background-color: $color-primary;
			font-size: $font-size-mid;

			padding: 0;
			border: 0;

			float: right;
		}
	}

	.modal-body {
		background-color: $color-dark;
		border: 0;
		border-radius: 0;

		.form-control-label {
			font-size: $font-size-norm;
			color: $color-secondary;
		}

		.form-control, select {
			color: $color-primary;
			background-color: $color-black;
			border: $border-width-thin $color-primary solid;
			border-radius: 0;

			font-size: $font-size-norm;

			padding: 1rem;
		}

		.btn-block {
			color: $color-dark;
			background-color: $color-primary;
			border: 0;
			border-radius: 0;
			-webkit-appearance: none !important;

			font-size: $font-size-mid;
			text-decoration: none !important;

			padding: 0.5rem;
			margin-bottom: 1rem;
		}

		#doneBtn, #trashBtn {
			color: $color-primary;
			background-color: $color-dark;
			font-size: $font-size-big;
			border: 0;
			padding: 0;
		}
	}

	.modal-footer {
		background-color: $color-dark;
		border: 0;
		border-radius: 0;
	}
}