// CSS for team.handlebars

@import "main";

#backIcon {
	display: table-cell;
	vertical-align: middle;
	
	#backArrow {
		font-size: $font-size-big;
		float: left;
		display: block;
		margin-right: 1rem;

		color: $color-white;
		background-color: $color-dark;
	}
}

#teamName {
	display: table-cell;
	font-size: $font-size-big;
}

#addMenu {
	color: $color-dark;
	background-color: $color-primary;
	border: $border-width $color-primary solid;
	border-radius: 0;
	-webkit-appearance: none !important;

	font-size: $font-size-mid;
	text-decoration: none !important;

	margin: 0;

	.card-header {
		text-align: center;
		border: 0;
	}

	.card-body {
		color: $color-primary;
		background-color: $color-dark;
	}

	.form-control {
		color: $color-primary;
		background-color: $color-black;
		border: $border-width-thin $color-primary solid;
		border-radius: 0;

		font-size: $font-size-norm;

		padding: 1rem;
	}

	.btn-block {
		color: $color-dark;
		background-color: $color-primary;
		border: none;
		-webkit-appearance: none !important;

		font-size: $font-size-mid;
		text-decoration: none !important;

		padding: 0.5rem;
		border-radius: 0;
	}
}

.card-box {
	color: $color-primary;
	background-color: $color-secondary;

	margin-top: 1.5rem;

	border: $border-width $color-secondary solid;
	border-radius: 0;

	a, a:link, a:visited, a:hover, a:active {
		text-decoration: none;
	}

	.card-header {
		font-size: $font-size-mid;
		border: 0;
	}

	.card-block {
		background-color: $color-dark;
		padding-top: 1rem;
		padding-right: 1rem;
		padding-left: 1rem;
		padding-bottom: 0.7rem;
	}

	.item {
		background-color: $color-black;
		padding: 1rem;
		margin-bottom: 0.3rem;

		.item-title {
			color: $color-primary;
		}

		.item-info {
			color: $color-white;
		}
	}
}