// CSS for teamB.handlebars

@import "main";

#backIcon {
	display: table-cell;
	vertical-align: middle;
	
	#backArrow {
		font-size: $font-size-big;
		float: left;
		display: block;
		margin-right: 1rem;

		color: $color-white;
		background-color: $color-dark;
	}
}

#teamName {
	display: table-cell;
	font-size: $font-size-big;
}

#teamCard {
	border: 0;
	border-radius: 0;
	background-color: $color-dark;

	#navHeader {
		border: 0;
		border-radius: 0;
		padding-top: 0;

		.nav-link {
			border: 0;
			border-radius: 0;

			color: $color-primary;
			background-color: $color-black;

			text-decoration: none;
			font-size: $font-size-mid;
		}

		.nav-link.active {
			color: $color-primary;
			background-color: $color-secondary;
			font-weight: bold;
		}
	}

	.card-body {
		background-color: $color-secondary;
		padding: 1rem;

		#addMenu, #leaveMenu {
			border: 0;
			border-radius: 0;

			.card-body {
				color: $color-primary;
				background-color: $color-dark;
			}

			.form-control {
				color: $color-primary;
				background-color: $color-black;
				border: $border-width-thin $color-primary solid;
				border-radius: 0;

				font-size: $font-size-norm;

				padding: 1rem;
			}

			.btn-block {
				color: $color-dark;
				background-color: $color-primary;
				border: none;
				-webkit-appearance: none !important;

				font-size: $font-size-mid;
				text-decoration: none !important;

				padding: 0.5rem;
				border-radius: 0;
			}

			.error {
				font-size: $font-size-norm;
				color: $color-white;
				text-align: center;
			}
		}

		.btn, #inviteButton, #leaveButton {
			border: 0;
			border-radius: 0;
			color: $color-dark;
			background-color: $color-primary;
			text-decoration: none;
			font-size: $font-size-norm;
			padding: 1rem;
			-webkit-appearance: none;
		}

		#leaveConfirmButton {
			background-color: $color-secondary;
		}

		#leaveConfirmBody {
			background-color: $color-black !important;

			#submitBtn {
				background-color: $color-black;
				color: $color-primary;
			}
		}

		.item {
			margin-top: 1rem;
			padding: 1rem;
			background-color: $color-dark;
			font-size: $font-size-norm;

			.item-title {
				color: $color-primary;
			}

			.item-info {
				color: $color-white;

				.member-name {
					margin-bottom: 0;
				}
			}
		}
	}
}