<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ready to Work is an application made for COGS 120 at UCSD.">
    <meta name="author" content="Alina Chin, Timothy Bian, Zi Long Pan">
    <link rel="icon" type="image/ico" href="favicon.ico">

	<title>Ready to Work</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/main.css">
	<link href="/css/home.css" rel="stylesheet">
</head>

<body>

	<nav class="navbar navbar-toggleable-md navbar-dark">

		<a class="navbar-brand" href="#">ready to work.</a>

		<button class="navbar-toggler navbar-toggler-left rounded" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto navbar-right">
				<li class="nav-item active">
					<a class="nav-link text-primary" href="/">
						<h4>Logout</h4>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col">
				<h1>This is the home screen.</h1>

				<div class="card">
				  <h4 class="card-header">alerts</h4>
				  <div class="card-block">
				  	<hr>
				  	<p class="card-text">No alerts right now</p>
				  	<hr>
				  </div>
				</div>

				<div class="panel panel-info">
					<div class="panel-body"> 
						<h4>alerts</h4>
					</div>
				</div>
				<div class="panel panel-default">
					<a href="/teamlist">
						<h4>Teams</h4>
					</a>
				</div>

				<div class="panel panel-default">
					<a href="/profile">
						<h4>Profile</h4>
					</a>
				</div>

				<div class="panel panel-default">
					<a href="/settings">
						<h4>Settings</h4>
					</a>
				</div>

				<hr>
			</div>
		</div>
	</div>
	
	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>