<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ready to Work is an application made for COGS 120 at UCSD.">
    <meta name="author" content="Alina Chin, Timothy Bian, Zi Long Pan">
    <link rel="icon" type="image/ico" href="favicon.ico">

	<title>Ready to Work</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
	<link rel="stylesheet" href="/css/home.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<!-- Page -->
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card card-box" id="alert-box">
					<p class="card-header">alerts</p>
					<div class="card-block">
						<div class="pre-scrollable">
							<div class="item">
								<div class="item-title">TeamName: Event</div>
								<div class="item-info font-italic">in Time at Location</div>
							</div>
							<div class="item">
								<div class="item-title">TeamName: Event</div>
								<div class="item-info font-italic">in Time at Location</div>
							</div>
							<div class="item">
								<div class="item-title">TeamName: Event</div>
								<div class="item-info font-italic">in Time at Location</div>
							</div>
							<div class="item">
								<div class="item-title">TeamName: Event</div>
								<div class="item-info font-italic">in Time at Location</div>
							</div>
							<div class="item">
								<div class="item-title">TeamName: Event</div>
								<div class="item-info font-italic">in Time at Location</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<a type="button" class="menu-item btn btn-primary btn-lg btn-block" href="/teamlist">teams</a>
		<a type="button" class="menu-item btn btn-primary btn-lg btn-block" href="/profile">profile</a>
		<a type="button" class="menu-item btn btn-primary btn-lg btn-block" href="/settings">settings</a>
	</div>

	<!-- Scripts -->
	{{> bootstrapJS}}
	<script src="/js/main.js"></script>
	<script src="/js/home.js"></script>
</body>

</html>