<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ready to Work is an application made for COGS 120 at UCSD.">
    <meta name="author" content="Alina Chin, Timothy Bian, Zi Long Pan">
    <link rel="icon" type="image/ico" href="favicon.ico">

	<title>Ready to Work</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600">
	<link rel="stylesheet" href="/css/home.css">
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar fixed-top navbar-light">
		<div class="container">
			<!-- "ready to work." -->
			<a class="navbar-brand font-bold" href="/home">ready to work.</a>

			<!-- Hamburger menu -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

			<!-- Menu items -->
			<div class="navbar-collapse collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item ml-auto">
						<a class="nav-link" href="/teamlist">teams</a>
					</li>
					<li class="nav-item ml-auto">
						<a class="nav-link" href="/profile">profile</a>
					</li>
					<li class="nav-item ml-auto">
						<a class="nav-link" href="/settings">settings</a>
					</li>
					<li class="nav-item ml-auto">
						<a class="nav-link" href="/">logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page -->
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card card-box" id="alert-box">
					<h2 class="card-header font-bold">alerts</h2>
					<div class="card-block">
						<div class="item">
							<div class="item-title">TeamName: Event</div>
							<div class="item-info font-italic">in Time at Location</div>
						</div>
						<div class="item">
							<div class="item-title">TeamName: Event</div>
							<div class="item-info font-italic">in Time at Location</div>
						</div>
						<div class="item">
							<div class="item-title">TeamName: Event</div>
							<div class="item-info font-italic">in Time at Location</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<a type="button" class="menu-item btn btn-primary btn-lg btn-block" href="/teamlist">teams</a>
		<a type="button" class="menu-item btn btn-primary btn-lg btn-block" href="/profile">profile</a>
		<a type="button" class="menu-item btn btn-primary btn-lg btn-block" href="/settings">settings</a>

	</div>

	<!-- Footer -->
	<div class="fixed-bottom" id="footer">
		<div class="container">
			<p>ucsd &middot; cogs 120 &middot; ready to work™</p>
		</div>
	</div>
	
	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Scripts -->
	<script src="/js/main.js"></script>
	<script src="/js/home.js"></script>
</body>

</html>