<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}

	<title>Ready to Work</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
	<link rel="stylesheet" href="/css/team.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<div class="container">
		<div class="row">
			<div class="col">
				<h1>This is a personalized profile page.</h1>
			</div>
		</div>
	</div>
	
	<!-- Scripts -->
	{{> bootstrapJS}}
	<script src="/js/main.js"></script>
</body>

</html>